.recommended {
    /* border: 2px solid orange; */
   
    z-index: 100;
    position: relative;
<<<<<<< HEAD
    padding-top: 20vh;
=======
    
>>>>>>> 62cbf2a4 (Fixed auth)
    order:3;
    
}

.recommended header {
    z-index: 1000;
    justify-content: center;
<<<<<<< HEAD
=======
    padding-top: 40vh;
>>>>>>> 62cbf2a4 (Fixed auth)

    
}

.albumContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  3vh 5vw 0 5vw;
}


.album {
    border: 1px solid var(--primary-color);
    aspect-ratio: 1;
    width: 18vw;
    
}

@media screen and (max-width: 414px) {

    .recommended {
        display: none !important
    }
}